/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

p {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
  justify-content: space-between;
}

.item-double {
  flex: 2;
}

.formitem {
  display: flex;
  justify-content: space-between;
}

.formgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-images {
  padding-bottom: 20px;
}

.blog-images {
  padding-bottom: 5px;
  padding-top: 5px;
}

.about-items {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 15px 0px 0px;
  font-size: 18px;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  display: inline-flexbox;
}

form label {
  font-weight: bold;
  display: inline-flexbox;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .group {
    flex-direction: row;
  }
  .logo {
    text-align: left;
    padding-right: 5%;
  }
  .desktop {
    display: flex;
    justify-content: space-between;
  }
  header div nav ul li a {
    font-size: 25px;
  }
  #menu {
    width: 100%;
    padding: 1%;
  }
  .join-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .join-img {
    width: 62%;
    padding: 2%;
  }
  .join-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
  }
  .formitem input {
    width: 50%;
  }
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-images {
    width: 48%;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
  }
  .about-text {
    width: 50%;
  }
  div.about-images img {
    width: 48%;
    margin-right: 2%;
  }
  #download {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  section#download img {
    width: 50%;
    margin: 20px;
  }
  section#download div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }
  section#blog div div {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  section#blog div {
    display: flex;
    flex-direction: row;
  }
  .blog-images {
    flex: 1;
  }
  section#about div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
